body{
    background-image: url(../img/4173562_m.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 54px;
}

li{
    list-style: none;
}

.card{
    margin-bottom: 20px;
}

.heart{
    color: red;
}